img {
    width: 400px;
    border-style: solid;
    border-color: rebeccapurple;
    border-width: thick;
margin-bottom: 10px;
    
}
body{
    text-align: center;
    background-color: aqua;
    
}
